name: "Deployment Frontend"
on:
  push:
    branches:
      - main

jobs:
 deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        uses: actions/setup-node@master
        with:
          node-version: '20.x'
      - run: |
          npm install
          npm run build
            
      - name: Deploy via SFTP to the server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "dist"
          target: /var/www/

      - name: Install
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd /var/www/
            mv tubeflow10x.com tubeflow10x.com.old && mv dist tubeflow10x.com && rm -fr tubeflow10x.com.old web
